
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!-- Cool Kid picture -->
<img src="~/Graphics/CoolKid.jpg"/>

<!-- This is the main menu to navigate to the other controllers foor Stack, Queue, Dictionary, and Exit -->
<div class="w3-bar w3-black">
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a>
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Queue</a>
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Dictionary</a>
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Exit</a>
</div>

