
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<img src="~/Graphics/CoolKid.jpg"/>
<div class="w3-bar w3-black">
    <a href="#" class="w3-bar-item w3-button">Stack</a>
    <a href="#" class="w3-bar-item w3-button">Queue</a>
    <a href="#" class="w3-bar-item w3-button">Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Exit</a>
</div>

