
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/StyleSheetCustom.css">

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
            <!-- This is the main menu to navigate to the other controllers foor Stack, Queue, Dictionary, and Exit -->
            <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a>
            <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a>
            <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a>
            <a href="@Url.Action("ExitApp","Index")" class="w3-bar-item w3-button">Exit</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>Home Page</h1>
        </div>

        <!-- Cool Kid picture -->
        <img src="~/Graphics/CoolKid.jpg" />

        <div class="w3-container">
            <h2>Data Structures</h2>
            <p>Please click one of the links on the left navbar to see the difference in functionality between data structures</p>
            <p>At any moment, you can return to this menu by selecting "Return to Main Menu"</p>
            <p>Please enjoy!</p>
        </div>
    </div>

</body>
</html>