@model VideoTutorials.Models.DataStructures

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron">
        <h1 style="text-align:center">Data Structures Walkthrough</h1>
        <h3 style="text-align:center"><a href="/Home/Index">Click here to go back</a></h3>
    </div>
</body>
</html>
