
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World
    </div>
    <p>We are having a cool pool party</p>
    <div>
        @ViewBag.Opponent in the tournament!
    </div>
</body>
</html>
