@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IS 403</h1>
    <p class="lead">Information Systems 403 has a lot of content to learn, This site will contain all of the video tutorial content. 
    Please click the link below to see what's in my source code:</p>
    <p><a href="https://github.com/robcalcote/403" target="_blank" class="btn btn-primary btn-lg">View my Github &raquo;</a></p>
</div>

<div class="row">
    <!-- This is the September 10th Learning suite content for 'ASP MVC Tutorial' -->
    <div class="col-md-4">
        <h2>September 10th - ASP MVC Tutorial</h2>
        <p>This video tutorial was followed on 10/29/2018. Please click the link to see the work done on that day.</p>
        <p>Follow along with the logic in the <a href="https://github.com/byu-is-403/syllabus/blob/master/asp-dotnet-mvc/asp-mvc-tutorial.md" target="_blank">GitHub</a> tutorial.</p>
        <p><a class="btn btn-default" href="/Home1/Index">View Completed Assignment Here &raquo;</a></p>
    </div>

    <!-- This is the September 12th Learning suite content for 'Data Structures' -->
    <div class="col-md-4">
        <h2>September 12th - Data Structures</h2>
        <p>This was followed on 11/4/2018. Please click the link to see the work done on that day.</p>
        <p>Follow along with the logic in the <a href="https://github.com/byu-is-403/syllabus/blob/master/data-structures/tutorials/data-structures.md" target="_blank">GitHub</a> tutorial.</p>
        <p><a class="btn btn-default" href="/Home0912/Index">View Completed Assignment Here &raquo;</a></p>
    </div>

    <!-- This is the September 19th Learning suite content for 'BYU IS403 Creating a ModelViewController' -->
    <div class="col-md-4">
        <h2>September 19th - YouTube MVC</h2>
        <p>I followed along on 11/7/2018. Please click the link to see work done on that day.</p>
        <p>Follow along with the logic in the <a href="https://www.youtube.com/watch?v=Eak1bM9U-nE&feature=youtu.be&hd=1" target="_blank">YouTube</a> walkthrough.</p>
        <p><a class="btn btn-default" href="/Index/Index">View Completed Assignment Here &raquo;</a></p>
    </div>
</div>

<div class="row">
    <!-- This is the September 24th Learning suite content for various Data structures in Controllers -->
    <div class="col-md-4">
        <h2>September 24th - Array, ArrayList, List, LinkedList</h2>
        <p>These video tutorials were completed on 11/7-11/8. Please click the link to see the work done on those days.</p>
        <p>Follow along with the logic in the <a href="https://www.youtube.com/watch?v=nL8Z-ZCBHPY&feature=youtu.be&hd=1" target="_blank">YouTube</a> walkthrough.</p>
        <p><a class="btn btn-default" href="/Home0924/Sep24">View Completed Assignment Here &raquo;</a></p>
    </div>


</div>