@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IS 403</h1>
    <p class="lead">Information Systems 403 has a lot of content to learn, This site will contain all of the video tutorial content. 
    Please click the link below to see what's in my source code:</p>
    <p><a href="https://github.com/robcalcote/403" target="_blank" class="btn btn-primary btn-lg">View my Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC C# Tutorial</h2>
        <p>
            This video tutorial was followed on 10/29/2018. Please click the link to see the work done on that day.
        </p>
        <p><a class="btn btn-default" href="/Home1/Index">Click Me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>